<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <tui-textfield>
    <label tuiLabel>Email или имя</label>
    <input
      tuiInput
      formControlName="emailOrUsername"
      type="text"
      placeholder="you@example.com"
      [invalid]="form.controls.emailOrUsername.invalid && form.controls.emailOrUsername.touched"
      [tuiTextfieldCleaner]="true"
    />
  </tui-textfield>
  <tui-error
    [error]="
      form.controls.emailOrUsername.touched && form.controls.emailOrUsername.hasError('required')
        ? 'Введите email или имя пользователя'
        : null
    "
  ></tui-error>

  <tui-textfield>
    <label tuiLabel>Пароль</label>
    <input
      tuiInput
      formControlName="password"
      type="password"
      placeholder="********"
      [invalid]="form.controls.password.invalid && form.controls.password.touched"
    />
    <tui-icon tuiPassword></tui-icon>
  </tui-textfield>
  <tui-error
    [error]="
      form.controls.password.touched && form.controls.password.hasError('required')
        ? 'Введите пароль'
        : null
    "
  ></tui-error>

  <button
    tuiButton
    appearance="primary"
    size="m"
    type="submit"
    class="w-full mt-2"
    [disabled]="form.invalid || loading"
  >
    {{ loading ? 'Входим' : 'Войти' }}
  </button>

  <tui-error [error]="error || null"></tui-error>

  <p class="text-sm text-center">
    <a routerLink="/auth/forgot-password" tuiLink class="text-accent-800">Забыли пароль?</a>
  </p>

  <p class="text-sm text-stone-500 text-center">
    Нет аккаунта?
    <a routerLink="/auth/register" tuiLink class="text-accent-800">Создать</a>
  </p>
</form>
