<div class="min-h-screen text-stone-900 flex flex-col">
  @if (!isAdmin()) {
    <header class="px-4 py-3 flex items-center justify-between">
      <a
        routerLink="/feed"
        class="inline-flex items-center hover:opacity-90 transition cursor-pointer"
      >
        <img src="/logo_full.svg" alt="Coolinaa" class="h-8 w-auto" />
      </a>
      <a routerLink="/recipes/create" tuiButton appearance="primary" size="s"> Добавить рецепт </a>
    </header>

    <main class="flex-1 px-4 pb-24">
      <router-outlet></router-outlet>
    </main>

    <nav
      class="fixed bottom-6 inset-x-3 bg-white/90 backdrop-blur rounded-2xl shadow-xl shadow-amber-200/70 border border-stone-200 px-4 py-2 flex justify-between text-sm"
    >
      <a
        routerLink="/feed"
        routerLinkActive="text-amber-700"
        tuiIconButton
        appearance="flat"
        size="m"
        iconStart="@tui.house"
        class="py-2 flex flex-col items-center gap-1 text-stone-600"
      >
        <span class="sr-only">Лента</span>
      </a>
      <a
        routerLink="/match"
        routerLinkActive="text-amber-700"
        tuiIconButton
        appearance="flat"
        size="m"
        iconStart="@tui.sparkles"
        class="py-2 flex flex-col items-center gap-1 text-stone-600"
      >
        <span class="sr-only">Подбор</span>
      </a>
      <a
        routerLink="/fridge"
        routerLinkActive="text-amber-700"
        tuiIconButton
        appearance="flat"
        size="m"
        iconStart="@tui.refrigerator"
        class="py-2 flex flex-col items-center gap-1 text-stone-600"
      >
        <span class="sr-only">Холодильник</span>
      </a>
      <a
        routerLink="/profile"
        routerLinkActive="text-amber-700"
        tuiIconButton
        appearance="flat"
        size="m"
        iconStart="@tui.user"
        class="py-2 flex flex-col items-center gap-1 text-stone-600"
      >
        <span class="sr-only">Профиль</span>
      </a>
    </nav>
  } @else {
    <header class="px-4 py-3 flex items-center justify-between bg-white/80 backdrop-blur shadow">
      <div class="flex items-center gap-2">
        <img src="/logo_full.svg" alt="Coolinaa" class="h-8 w-auto" />
        <span class="text-lg font-semibold tracking-tight text-amber-600">Admin</span>
      </div>
      <button
        (click)="logout()"
        tuiButton
        appearance="primary-destructive"
        size="s"
        iconStart="@tui.log-out"
      >
        Выход
      </button>
    </header>

    <main class="flex-1 px-4 py-6">
      <router-outlet></router-outlet>
    </main>
  }
</div>
