<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <tui-textfield>
    <label tuiLabel>Имя пользователя</label>
    <input
      tuiInput
      formControlName="username"
      type="text"
      placeholder="chef123"
      [invalid]="form.controls.username.invalid && form.controls.username.touched"
      [tuiTextfieldCleaner]="true"
    />
  </tui-textfield>
  <tui-error
    [error]="
      form.controls.username.touched && form.controls.username.hasError('required')
        ? 'Введите имя пользователя'
        : null
    "
  ></tui-error>

  <tui-textfield>
    <label tuiLabel>Email</label>
    <input
      tuiInput
      formControlName="email"
      type="email"
      placeholder="you@example.com"
      [invalid]="form.controls.email.invalid && form.controls.email.touched"
      [tuiTextfieldCleaner]="true"
    />
  </tui-textfield>
  <tui-error
    [error]="
      form.controls.email.touched && form.controls.email.hasError('required')
        ? 'Введите email'
        : form.controls.email.touched && form.controls.email.hasError('email')
          ? 'Введите корректный email'
          : null
    "
  ></tui-error>

  <tui-textfield>
    <label tuiLabel>Пароль</label>
    <input
      tuiInput
      formControlName="password"
      type="password"
      placeholder="********"
      [invalid]="form.controls.password.invalid && form.controls.password.touched"
    />
    <tui-icon tuiPassword></tui-icon>
  </tui-textfield>
  <tui-error
    [error]="
      form.controls.password.touched && form.controls.password.hasError('required')
        ? 'Введите пароль'
        : null
    "
  ></tui-error>

  <button
    tuiButton
    appearance="primary"
    size="m"
    type="submit"
    class="w-full mt-2"
    [disabled]="form.invalid || loading"
  >
    {{ loading ? 'Создаем...' : 'Создать аккаунт' }}
  </button>

  <tui-error [error]="error || null"></tui-error>

  <p class="text-sm text-stone-500 text-center">
    Уже есть аккаунт?
    <a routerLink="/auth/login" tuiLink class="text-accent-800">Войти</a>
  </p>
</form>
