.category-filter-btn[tuiButton] {
	background: #ffffff !important;
	border: 1px solid #e7e5e4 !important;
	color: #44403c !important;
}

.category-filter-btn[tuiButton]:hover,
.category-filter-btn[tuiButton]:active {
	background: #ffffff !important;
}

.category-filter-btn_active[tuiButton] {
	border-color: #ffab30 !important;
	color: #c2410c !important;
}
