<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="text-lg font-semibold">Восстановление пароля</h2>
  <p class="text-sm text-stone-600">
    Введите email, и мы отправим код подтверждения для установки нового пароля.
  </p>

  <tui-textfield>
    <label tuiLabel>Email</label>
    <input
      tuiInput
      formControlName="email"
      type="text"
      inputmode="email"
      autocomplete="email"
      placeholder="you@example.com"
      [invalid]="form.controls.email.invalid && form.controls.email.touched"
      [tuiTextfieldCleaner]="true"
    />
  </tui-textfield>
  <tui-error
    [error]="
      form.controls.email.touched && form.controls.email.hasError('required')
        ? 'Введите email'
        : form.controls.email.touched && form.controls.email.hasError('email')
          ? 'Введите корректный email'
          : null
    "
  ></tui-error>

  <button
    tuiButton
    appearance="primary"
    size="m"
    type="submit"
    class="w-full mt-2"
    [disabled]="form.invalid || loading"
  >
    {{ loading ? 'Отправляем' : 'Отправить код' }}
  </button>

  <tui-error [error]="error || null"></tui-error>

  <p class="text-sm text-stone-500 text-center">
    Вспомнили пароль?
    <a routerLink="/auth/login" tuiLink class="text-accent-800">Войти</a>
  </p>
</form>
